h1{
    color: #EE4036;
}
.header{
    padding-top: 30px;
    padding-left: 30px;
}
.logo{
    width: 100px;
}
nav a{
    text-decoration: none;
    color: #3D58A6;
    padding: 7.5px 0;
    display: inline-block;
}
a:hover{
    color: #EE4036;
}
.banner{
    padding-top: 20px;
    padding-left: 30px;
}
.social-icon{
    height: 30px;
}
.footer{
    padding-left: 30px;
}
.footer-social-list{
    display: inline-block;
    
}
.fb{
    border-right-color: #3D58A6;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 30px
}
.youtube{
    padding-left: 30px;
}
/* newses page */

/* articles block */
.articles-block{
    padding-left: 30px;
}
.article{
    margin-top: 40px;
}
.date-block{
    background: #3D58A6;
    display: inline-block;
    font-size: 48px;
    color: #fff;
    padding: 5px;
}
.month{
    color: #3D58A6;
    font-size: 26px;
    margin: 10px auto;
}
.article-title{
    font-size: 28px;
    margin: 15px auto 20px auto;
}
.article-img{
    margin-bottom: 40px;
    display: inline-block;
}
.text p{
    padding-bottom: 25px;
}
.text p:last-child{
    padding-bottom: 0;
}
/* end articles block */

/* end newses page */
/* contact page */
.contact-section{
    margin: 150px auto;
}
.text-center{
    text-align: center;
}
/* end contact page */