h1{
    color: #EE4036;
}
.header{
    padding-top: 30px;
    padding-left: 30px;
}
.logo{
    width: 100px;
}
nav a{
    text-decoration: none;
    color: #3D58A6;
    padding: 7.5px 0;
    display: inline-block;
}
a:hover{
    color: #EE4036;
}
.banner{
    padding-top: 20px;
    padding-left: 30px;
}
.social-icon{
    height: 30px;
}
.footer{
    padding-left: 30px;
}
.footer-social-list{
    display: inline-block;
    
}
.fb{
    border-right-color: #3D58A6;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 30px
}
.youtube{
    padding-left: 30px;
}